<!--<h1>News#index</h1>-->
<!--<p>Find me in app/views/news/index.html.erb</p>-->

<body>
  <h1>Books</h1>
  <div class="table">
    
  </div>
  
  <h2>New book</h2>
  <div class="form">
    <div class="field"></div>
    <div class="actions"></div>
  </div>
</body>
