<!--<h1>News#index</h1>-->
<!--<p>Find me in app/views/news/index.html.erb</p>-->

<body>
  <h1>Books</h1>
  <table>
    <tr>
      <th class="title">Title</th>
      <th class="body">Body</th>
      <th class="action"></th>
    </tr>
  </table>

  <h2>New book</h2>
  <div class="form">
    <%= form_with model: Book.new do |f| %>
      <div class="field">

        <!--後でlabelに変更-->

        <p>title</p>
        <%= f.text_field :title %>
        <p>body</p>
         <%= f.text_area :body %>
      </div>
      <div class="actions">
        <!--後でlabelに変更-->
         <%= f.submit 'Create Book' %>
        <!--<p>CerateBook</p>-->
      </div>
    <% end %>
  </div>
</body>
